/* CSS RESET */
*{
  margin: 0px;
  padding: 0px;
}
/* Landing Page  1920 x 929 || 1920 x 1080*/

        /* Opening Carusel */
            h1 {
              font-size: 1.5rem;
            }
            .slideDiv, .head, .foot{
              display: flex;
              justify-content: center;
              position: relative;
              top: 125px;
              font-family: 'Courier New', Courier, monospace;
              /* font-size: 1rem; */
            }
            .openingCarusel{
              width: min-content;
            }
              .imgContainer{
                width: min-content;
              }
              .openingIMG{
                width: 250px;
                border-radius:10%;
              }
              /* These are React BootStrap controls from the Carousel Component */
              .carousel-indicators{
                display: none;
              }
              
              .carousel-control-next{
                display: none;
              }
              .carousel-control-prev{
                display: none;
              }
              /* <768 */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
  .desktop-tablet-only{
    display: none;
  }
  #gitProfileLink{
    display: flex;
    justify-content: center;
  }
}